{% extends "base.html" %}

{% block title %}
Add Student
{% endblock %}

{% block page_title %}

{% if editing %}

<h2 class="mb-4">
    <i class="bi bi-pencil-square"></i>
    Edit Student
</h2>

{% else %}

<h2 class="mb-4">
    <i class="bi bi-person-plus-fill"></i>
    Add New Student
</h2>

{% endif %}

{% endblock %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST"
              enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">

                <i class="bi bi-save"></i>

                {% if editing %}
                    Update Student
                {% else %}
                    Save Student
                {% endif %}

            </button>

            <a href="{% url 'student_list' %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}