{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h6>Total Students</h6>
                <h2>{{ student_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h6>Total Teachers</h6>
                <h2>{{ teacher_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h6>Classes</h6>
                <h2>{{ class_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h6>{{ subject_count }}</h6>
                <h2>15</h2>
            </div>
        </div>
    </div>

</div>

<div class="card shadow mt-4 border-0">

    <div class="card-body">

        <h3>Welcome to EduCloudSMS</h3>

        <p>

            This dashboard will provide teachers, parents, and the headteacher with real-time access to school information.

        </p>

    </div>

</div>

{% endblock %}